# Virtual environment
shorts-venv/
venv/
.venv/
env/

#Buckup folder
backup/

# Python cache files
__pycache__/
*.pyc
*.pyo
.env

# LaTeX build artifacts
*.bbl
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.dvi
*.synctex
*.synctex.gz
*.maf
*.mtc
*.mtc*
texput.log

# Model weights
models/
*.pt
*.bin
*.safetensors

#RESULTS
results/

# Dataset 
data/
